body {
    background: linear-gradient(180deg, #D9C7F5, #EEE1E4);
    background-color: rgb(255, 248, 255);
    min-width: 340px;
    min-height: 600px;
    color: #D672E2;
    font-family: 'Inter';
    background-color: #f0f0f0;
  }
  
h1 {
  letter-spacing: 4px;
  color: #D672E2; /* Text color */
  text-shadow: 2px 2px 5px rgb(214, 114, 226); /* X-offset, Y-offset, Blur-radius, Color */
  font-weight: 100;
  font-family: 'VT323', monospace;
  margin: 0;
  display: inline;
}


  .logo {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;      /* Align items in a column (image on top, text below) */
    align-items: center;         /* Center horizontally */
    justify-content: center;     /* Center vertically */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;          /* Ensure text is centered */
}

.textbox {
    background-color: #f8f9fa; /* Light background */
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto; /* This centers the box horizontally */
    text-align: left;
    font-family: 'Inter', sans-serif;
    color: #4a4a4a;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.textbox h3 {
    color: #D672E2; /* Match the FactAI purple color */
    text-align: center;
}

.textbox ul {
    list-style-type: disc;
    margin-left: 20px;
}

.textbox p {
    font-weight: bold;
    color: #4a4a4a;
}



.footer {
    width: calc(100% - 20px);
    position: fixed;
    bottom: 0;
    background-color: #ffffff; /* Ensure it's clearly visible */
    text-align: center;
    font-size: 5.5px; /* Adjust font size */
    color: #D672E2;
    padding: 5px; /* Adds a little padding */
    box-sizing: border-box;
    margin: 5 0px;  /* Add equal margin on both left and right */
}


#img1 {
    width: 50px;
    height: auto;
}
